.home > .body {
  background-color: #f7f7f7;
}

.roomimg {
  height: calc(100vh - 70px);
  width: 100%;
  filter: brightness(60%);
  object-fit: cover;
}
.widthdix {
  width: 40px;
}
.arrowimg {
  vertical-align: bottom;
  margin-left: 48%;
  margin-bottom: 5px;
  position: absolute;
  bottom: 0;
}

.nopadding {
  padding-left: 0;
  padding-right: 0;
}

.home > h2 {
  color: white;
  position: absolute;
}

.home > button p {
  margin: 0.6vw 0vw;
  font-weight: bold;
}

.room {
  position: relative;
  color: white;
}

.roomcontent {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 55%;
}

.roomtext {
  font-weight: bold;
  max-lines: 4;
}

.textbutton {
  align-content: center;
  text-align: center;
}

.icon_desc {
  background-color: #133833;
  color: white;
  height: 150px;
  align-items: center;
  display: flex;
  font-weight: bold;
}

.hometextcontainer {
  height: calc(100vh - 400px - 100px);
  min-height: 320px;
  margin-top: 100px;
}

/* .config-buttondent + .brand-list*/
.brand-container {
  background-color: white;
  height: 250px;
}

.confident {
  color: #966f33;
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 25px;
}

.brand-list {
  align-items: center;
  text-align: center;
}

.brand-list img {
  max-height: 80px;
  max-width: 80%;
}

.wood-img {
  margin-top: 40px;
  width: 100%;
}

.brown-title {
  color: #966f33;
  font-weight: bold;
  margin-top: 40px;
}

.info-window h1 {
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.info-window a {
  color: black;
}

.info-window p {
  text-align: left;
  color: black;
}

.recaptcha {
  display: inline-block;
}

.form {
  margin-bottom: 20px;
}

.margintopdeux {
  margin-top: 5%;
}

.textalign {
  text-align: center;
}

.form-row {
  margin-top: 30px;
  text-align: center;
}

.maps {
  height: 650px;
  margin-bottom: 20px;
}

/* Tablet and small desktop */
@media media and (min-width: 500px) and (max-width: 1000px) {
  h2 {
    font-size: 20px;
  }
}

/* Phone */
@media all and (max-device-width: 500px) {
  h2 {
    font-size: 20px;
  }
  p,
  a {
    font-size: 16px;
  }

  .home-text-container {
    margin-top: 30px;
    display: inline-block;
    height: auto;
    width: 85%;
    text-align: justify;
  }

  .contact-us {
    display: inline-block;
    height: auto;
    height: 1550px;
  }

  .icon_desc {
    padding: 20px;
    display: inline-block;
    height: auto;
  }

  .parallax {
    display: none;
  }
}
