.imageaccueil {
  width: 100%;
  filter: brightness(50%);
}

.textaccueil {
  text-align: center;
  margin: 5%;
  line-height: 2em;
}

.textcenter {
  text-align: center;
}

.imageaccueil {
  background-color: white;
  background-image: url('../images/jonathan-borba-CgWTqYxHEkg-unsplash.jpg');
  background-size: cover;
  height: 80vh;
}

.colorgray {
  padding: 5%;
  background-color: #eef0f2;
}

.imagebaby {
  width: 100%;
}

.toto {
  margin-left: auto;
  margin-right: auto;
}

.colorwhite {
  color: white;
}
