.textalign {
  text-align: center;
}

.colorred {
  color: red;
}

.colorgreen {
  color: green;
}

.colororange {
  color: orange;
}

.bagroundcolorgray {
  background-color: #e7e7e7;
}

.margintop {
  margin-top: 5%;
}

.widthcent {
  width: 100%;
}
