.imageaccueil {
  background-color: white;
  background-image: url('../images/aditya-romansa-5zp0jym2w9M-unsplash.jpg');
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.textalign {
  text-align: center;
}
